[Unit]
Description=Python Daemon to control swamp cooler and furnace via FastAPI

[Service]
User=pi
Group=pi
ExecStart=python3 -m uvicorn main:app --ssl-keyfile ~/daemon-selfsigned.key --ssl-certfile ~/daemon-selfsigned.crt --host=0.0.0.0
WorkingDirectory=/home/pi/rpi-thermostat/daemon/
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
